<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>CopyScanner</title>
  <meta property="og:title" content="CopyScanner">
  <meta name="description" content="Copy only what is needed without searching or hand-picking.">
  <meta property="og:description" content="Copy only what is needed without searching or hand-picking.">
</head>
<body id="document-body">
  <div id="popup"></div>
</body>
</html>